@model IEnumerable<SportShop.Domain.Entities.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>All available products</h2>

<table class="grid">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th class="numericCol">Price</th>
        <th>Options</th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@item.ProductID</td>
            <td>@Html.ActionLink(item.Name, "Edit", new {item.ProductID})</td>
            <td class="numericCol">@item.Price.ToString("c")</td>
            <td>
                @using (Html.BeginForm("Delete", "Admin"))
                {
                    @Html.Hidden("ProductID",item.ProductID)
                    <input type="submit" value="Delete"/>
                }
            </td>
        </tr>
    }

</table>
<p>@Html.ActionLink("Add new product","Create")</p>
